

<h4 class="card-panel">
  ランキング
</h4>



<ol>
  <% @posts.each do |post| %>
    <li>
      <div class="card">
        <div class="card-content">
          <a href="<%= "posts/" + post.id.to_s %>"><%= post.title %></a>
          <div class="grey-text lighten-2">
            <%= post.date %>
          </div>
          <span class="card-title"></span>
          <p><%= post.content %></p>
        </div>
      </div>
    </li>
  <% end %>
</ol>
