<% if logged_in? %>
  <a class="waves-effect waves-light btn-large" href="<%= head_url  %>">
    <%= head_title  %> 
  </a>

  <div class='table-wrapper'>
    <% @indexs.each do |index| %>
      <% post =  @posts.select{|post| post.id ==  index + 1}[0]  %>
      <% if post != nil %>
        <%= render partial: "homes/card" , locals: { post: post } %> 
      <% end %>
    <% end %>
  </div>
<% end %>

