
<a class="waves-effect waves-light btn-large" href="<%= head_url %>">
  <%= head_title  %> 
</a>

<div class='table-wrapper'>
  <% @news.each_with_index do |post, index| %>
    <%= render partial: "homes/card" , locals: { post: post } %> 
  <% end %>
</div>


