/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize/components/color-variables";
$primary-color: color("yellow", "darken-2") !default;
$secondary-color: color("yellow", "darken-2") !default;
$navbar-font-color: $secondary-color;
$button-flat-color: color("blue", "lighten-2") !default;
$collection-bg-color: color("yellow", "darken-2") !default;
$input-border: 1px solid grey !important;

$off-black: rgba(0, 0, 0, 0.6);
@import 'materialize';

* {box-sizing: border-box;}

.table-wrapper {
    display: flex;
    width:100%;
    overflow: auto;
    white-space: nowrap;
}

.container {
    margin-top: 40px;
}

.category_container {
    padding: 50px 0;
}

.card {
    margin: 10px;
}
.card-image {
    min-width: 200px;
}

.card-content p  {
    word-break: break-all;
    white-space: pre-wrap;
}

.card-content a  {
    word-break: break-all;
    white-space: pre-wrap;
}

.card-margin {
    margin : 60px 0;
}


footer {
    padding: 30px;
    margin-top:40px 0;
}


.search-form { 
    display: flex; 
    align-items: center;
}

